@import 'variables';

// Breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;

// Reset básico de márgenes y paddings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

// Header
header {
  background-color: rgb(255, 255, 0); // Color de fondo del header
  display: flex; // Usamos flexbox para la disposición
  flex-direction: row;
  justify-content: space-evenly;
  // Estilos del logo
  .logo {
    width: 175px; // Tamaño del logo
    padding: 2rem;
    margin-top: 3.5rem;
    // Estilos del título (h1) dentro del logo
    h1 {    
      margin-left: 1rem; // Espaciado a la izquierda del título
     // Tamaño de fuente del título
      color: #15ff00 !important; // Color negro (usar !important con cuidado)
    }
  }
}

// Main content
main {
  background-color: #ffffff;
  flex-direction: column;
  section {
    background-color: $light-color;
    padding: 1rem;
    h2 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 1rem;
      margin-bottom: 1rem;
      line-height: 1.6;
    }

    li {
      list-style: none;
    }

    ol,
    ul {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}

// Aside
aside {
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
  padding: 1rem;
  color: #000000;

  h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;

    li {
      margin-bottom: 0.5rem;

      a {
        color: white;
        display: block;
        text-decoration: none;
        text-align: center;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

pre {
  display: block;

  background-color: #000000 !important;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  color: #ffffff;
}

code {
  display: block;

  background-color: #000000 !important;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  /* Permite que las líneas largas se ajusten */
  display: block;
  color: greenyellow !important;
  padding: 1rem;
}

// Footer
footer {
  background-color: $dark-color;
  color: white;
  height: 200px;
  font-weight: 400;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;

  p {
    margin: 0;
  }
}

// Mixin para media queries
@media (min-width: 768px) {
  header {
    background-color: rgb(195, 0, 255);
    // Estilos del logo
    .logo {
      width: 250px; // Tamaño del logo
      // Estilos del título (h1)
      h1 {    
        margin-left: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #000000; // Color negro (usar !important con cuidado)
      }
    }
  }
  
#barra-nav{
  display: none;
}
#desktop-nav{
  display: block;
}
  main {
    display: flex;
    flex-direction: row-reverse;
  }

  pre {
    background-color: #000000 !important;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    color: #ffffff;
  }
  
  code {
    background-color: #000000 !important;
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    /* Permite que las líneas largas se ajusten */
    display: block;
    color: greenyellow !important;
    padding: 1rem;
  }
  
}

@media (min-width: 1024px) {
  header {
    background-color: red;
  }
  pre {
    background-color: #000000 !important;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    color: #ffffff;
  }
  
  code {
    background-color: #000000 !important;
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    /* Permite que las líneas largas se ajusten */
    display: block;
    color: greenyellow !important;
    padding: 1rem;
  }
  
}