@charset "UTF-8";
/* Breakpoints*/
/* Reset básico de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  width: 100%;
}

header {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column-reverse;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  align-items: center;
}

img {
  width: 300px;
  padding: 1rem;
  margin-top: 5rem;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

li a {
  margin-left: 2rem;
  margin-right: 2rem;
}
li a:hover {
  background-color: red;
}

main {
  display: block;
  flex-wrap: wrap;
  flex-direction: column;
}

section {
  width: 100%;
  background-color: white;
  padding: 1rem;
}

article h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
article p {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}
article li {
  list-style: none;
}
article ol,
article ul {
  padding: 0;
  margin: 0;
}

aside {
  width: 100%;
  background-color: #ffa200;
  padding: 1rem;
  color: #000000;
}
aside h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}
aside ul {
  margin: 0;
  padding: 0;
}
aside ul li {
  margin-bottom: 0.5rem;
  list-style: none;
}
aside ul li a {
  color: white;
  text-decoration: none;
  text-align: center;
}

pre {
  display: block;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  color: #ffffff;
}

code {
  display: block;
  background-color: #000000;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  /* Permite que las líneas largas se ajusten */
  display: block;
  color: greenyellow;
  padding: 1rem;
}

footer {
  background-color: #0e0f10;
  color: white;
  height: 200px;
  font-weight: 400;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  header {
    background-color: rgb(0, 255, 42);
    color: rgb(255, 255, 255);
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
  }
  img {
    width: 280px;
    margin-left: 2rem;
  }
  h1 {
    margin-top: 0;
    margin-left: 3rem;
    font-size: 60px;
    font-weight: 700;
    font-style: italic;
  }
  main {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
  }
  section {
    width: 70%;
  }
  aside {
    width: 30%;
  }
  #barra-nav {
    display: none;
  }
  #desktop-nav {
    display: block;
  }
  .nav {
    height: 3rem;
    display: flex;
    align-items: center;
    align-content: center;
  }
  .nav-item {
    font-weight: 600;
    font-size: 1.2rem;
  }
  .nav-item:hover {
    font-size: 1.3rem;
  }
  main {
    flex-direction: row-reverse;
    display: flex;
  }
  pre {
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    color: #ffffff;
  }
  code {
    background-color: #000000;
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    /* Permite que las líneas largas se ajusten */
    display: block;
    color: greenyellow;
    padding: 1rem;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
  header {
    background-color: rgb(255, 247, 0);
    color: rgb(0, 0, 0);
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
  }
  img {
    width: 230px;
    margin-left: 5rem;
  }
  h1 {
    margin-top: 0;
    margin-left: 6rem;
    font-size: 60px;
    font-weight: 700;
    font-style: italic;
  }
  main {
    flex-direction: row-reverse;
  }
  section {
    width: 70%;
  }
  aside {
    width: 30%;
  }
  pre {
    background-color: #000000;
    padding: 1rem;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
  }
  code {
    background-color: #000000;
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    white-space: pre-wrap;
    /* Permite que las líneas largas se ajusten */
    display: block;
    color: greenyellow;
  }
}

/*# sourceMappingURL=estilos.css.map */
