@charset "UTF-8";
header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/Designer1.jpg);
}
header h1 {
  text-align: center;
  font-size: 35px !important;
  color: #000000;
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7); /* Sombra del texto */
  letter-spacing: 5px;
  font-family: "Roboto", serif;
  font-style: italic;
  font-weight: bolder;
  margin-bottom: 2rem !important;
}
header img {
  max-width: 100%;
  /* Cambiar a max-width para que sea responsivo */
  width: 250px;
  padding: 1rem;
  height: auto; /* Para mantener la proporción */
}

@media (min-width: 577px) and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    height: 275px;
  }
  header img {
    width: 250px;
    margin-left: 1rem;
  }
  header h1 {
    font-size: 40px !important;
    color: #000000;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7); /* Sombra del texto */
    letter-spacing: 8px;
  }
}
@media (min-width: 769px) {
  header {
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    height: 275px;
  }
  header img {
    width: 300px;
  }
  header h1 {
    font-size: 60px !important;
    color: #000000;
    margin-left: 50 px;
    font-family: "Roboto", serif;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 10px;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7); /* Sombra del texto */
    line-height: 60px;
  }
}
.nav-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px !important;
  font-size: 1.5rem !important;
  background-color: #000000 !important;
  background-color: #000000 !important;
}

li {
  list-style: none;
}

.nav-desktop {
  display: none;
  background-color: #000000;
  height: 50px !important;
  color: white;
  font-size: 1.5rem !important;
}

.nav-desktop ul {
  display: flex;
}

@media (min-width: 577px) and (max-width: 768px) {
  .nav-desktop {
    display: flex;
  }
  .nav-desktop ul {
    display: flex;
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
  }
  .nav-desktop li {
    padding: 1rem 1rem !important;
  }
  .nav-burger {
    display: none;
  }
}
@media (min-width: 769px) {
  .nav-burger {
    display: none;
  }
  .nav-desktop {
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
  }
  .nav-desktop ul {
    display: flex;
    flex-direction: row;
  }
  .nav-desktop ul li {
    padding: 0px 1.5rem;
  }
  .nav-desktop ul li a {
    font-size: 1.5rem;
    color: white;
  }
  .nav-desktop ul li:hover {
    background-color: red;
    scale: 1.2;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra al hacer hover */
  }
}
footer {
  border-top: 2px solid black;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* Espacio interno del footer */
  width: 100%;
  font-size: 4rem;
  background: #000000;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* Espacio interno del footer */
  text-align: center;
  /* Centra el texto y los enlaces */
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}

footer .footer-links {
  margin-bottom: 10px;
}

footer .footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.footer-content {
  max-width: 1200px;
  /* Ancho máximo del contenido del footer */
  margin: 0 auto;
  /* Centra el contenido horizontalmente */
}

.social-links {
  margin-bottom: 20px;
  /* Espacio debajo de los íconos de redes sociales */
}

.social-icon {
  margin: 0 10px;
  /* Espacio entre los íconos */
  display: inline-block;
  /* Alinea los íconos horizontalmente */
}

.social-icon img {
  width: 70px;
  /* Tamaño de los íconos de redes sociales */
  height: 70px;
  /* Tamaño de los íconos de redes sociales */
  vertical-align: middle;
  /* Alinea los íconos verticalmente */
  transition: opacity 0.3s ease;
  /* Efecto de transición para el hover */
}

.social-icon:hover img {
  opacity: 0.8;
  /* Efecto de hover en los íconos */
}

.footer-text {
  font-size: 1.5rem;
  /* Tamaño de fuente del texto del footer */
  line-height: 1.5;
  /* Altura de línea para mejorar la legibilidad */
}

/* Cuando se hace hover */
.cuadrado:hover {
  transform: translateX(100px) scale(1.5) rotate(45deg);
  transition: background-color 2s ease; /* La transición que cambia el fondo */
}

.cuadrado {
  width: 300px;
  height: 300px;
  padding: 15px;
  font-family: arial;
  font-weight: 700;
  font-size: 50px;
  background-color: red;
  color: white;
  transition: transform 1s ease;
  text-align: center;
}

/* Cuando se hace hover */
.cuadrado:hover {
  transform: translateX(100px) scale(1.5);
  transition: transform 2s ease;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

html,
body,
header,
nav,
main,
footer {
  width: 100%;
  overflow-x: hidden;
  /* Evita el desbordamiento horizontal */
  max-width: 100%;
}

h2 {
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 2s ease;
  /* La transición que cambia el fondo */
}

h2:hover {
  background-color: red;
  color: white;
  /* Cambia de color al hacer hover */
}

main {
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
}
main section {
  background: -webkit-linear-gradient(90deg, rgb(255, 149, 0) 0%, rgb(186, 37, 231) 0%, rgb(0, 241, 255) 100%);
  background: -moz-linear-gradient(90deg, rgb(255, 149, 0) 0%, rgb(186, 37, 231) 0%, rgb(0, 241, 255) 100%);
  background: -o-linear-gradient(90deg, rgb(255, 149, 0) 0%, rgb(186, 37, 231) 0%, rgb(0, 241, 255) 100%);
  background: linear-gradient(90deg, rgb(255, 149, 0) 0%, rgb(186, 37, 231) 0%, rgb(0, 241, 255) 100%);
  display: flex;
  flex-direction: column;
  text-align: center;
}
main section h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 1rem;
  display: block;
  padding: 2rem;
  letter-spacing: 5px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
}
main section h3 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 400;
}
main section article {
  color: #000000;
  border-radius: 4px;
  padding: 1rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
main section article ol {
  text-align: center;
}
main section article ol li {
  list-style: none;
}
main section article ol li a {
  text-decoration: none;
  color: yellow;
}
main section article h2 {
  font-size: 2rem;
  margin-bottom: 0;
}
main section article h2 p {
  font-size: 1rem;
  line-height: 1.6;
  color: black;
}
main iframe {
  width: 100%;
}

#white {
  height: 170px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem !important;
}
#white h3 {
  color: #000000;
  font-weight: bold;
  font-style: italic;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

aside {
  display: none;
  width: 100%;
  background-color: #ffa200;
  background-color: #fea100;
  padding: 1rem;
  color: #000000;
}
aside img {
  width: 100%;
}
aside h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

pre {
  width: 100%;
  background-color: #000000;
  border-radius: 5px;
  color: yellow;
}

code {
  background-color: #000000;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  /* Permite que las líneas largas se ajusten */
  display: block;
  color: greenyellow;
  padding: 1rem;
}

@media (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    font-size: 1.5rem;
  }
  main section {
    width: 70%;
  }
  main section article {
    font-weight: 400;
  }
  main aside {
    display: flex;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
  }
  main aside h2 {
    font-size: 3rem !important;
  }
  main aside h3 {
    font-size: 2rem !important;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  main aside article {
    text-align: center;
  }
  pre {
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    color: #ffffff;
  }
  code {
    background-color: #000000;
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    /* Permite que las líneas largas se ajusten */
    color: greenyellow;
    padding: 1rem;
  }
}
@media (min-width: 1024px) {
  main {
    flex-direction: row-reverse;
  }
  main section {
    width: 70%;
    text-align: left;
  }
  aside {
    width: 25%;
  }
  pre {
    background-color: #000000;
    padding: 1rem;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
  }
  code {
    background-color: #000000;
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    white-space: pre-wrap;
    /* Permite que las líneas largas se ajusten */
    color: greenyellow;
  }
}

/*# sourceMappingURL=main.css.map */
