// main.scss
@use "utils/mixins" as *;
@use "utils/variables" as *;

@use "layouts/header";
@use "layouts/footer";
@use "layouts/nav";
@use "layouts/cubo";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

html,
body,
header,
nav,
main,
footer {
  width: 100%;
  overflow-x: hidden;
  max-width: 100%;
}

h1 {
  color: rgb(255, 0, 0);
  font-size: 3rem;
  text-align: start;
}

h2 {
  background-color: black;
  color: white;
  font-size: 1rem !important;
  font-weight: bold;
  transition: background-color 2s ease;
}

h2:hover {
  background-color: red;
  color: white;
}

h2 {
  font-size: 2rem !important;
  transition: background-color 2s ease;

  color: white;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 1rem;
  display: block;
  padding: 2rem;
  letter-spacing: 5px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
}

h3 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 400;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  justify-content: start;
  font-size: 1rem;

  section {
    background: linear-gradient(
      90deg,
      rgba(255, 149, 0, 1) 0%,
      rgba(186, 37, 231, 1) 0%,
      rgba(0, 241, 255, 1) 100%
    );
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 1rem;
    h1 {
      background-color: black;
      color: rgb(234, 0, 255);
      font-size: 3rem;
      text-align: center;
      padding: 1rem;
    }
    h2 {
      background-color: black;
      color: white;
      font-size: 1rem !important;
      font-weight: bold;
      transition: background-color 2s ease;
    }

    h2:hover {
      background-color: red;
      color: white;
    }

    h2 {
      font-size: 2rem !important;
      transition: background-color 2s ease;

      color: white;
      font-size: 1.5rem;
      margin-bottom: 0;
      margin-top: 1rem;
      display: block;
      padding: 2rem;
      letter-spacing: 5px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      text-align: center;
    }

    h3 {
      text-align: center;
      color: rgb(0, 0, 0);
      font-size: 40px;
      font-weight: 400;
    }
    ol,ul {
      list-style-type: square;
      padding: 1rem;
      margin: 0;
    }
    li {
      list-style-type: square;
      margin: 0;
    }
  }

  article {
    color: #000000;
    border-radius: 4px;
    padding: 1rem;
    font-optical-sizing: auto;
    font-weight: 400;
    text-align: center;

    ol {
      text-align: center;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: yellow;
        }
      }
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 0;

      p {
        font-size: 1rem;
        line-height: 1.6;
        color: black;
      }
    }
  }
}

iframe {
  width: 100%;
}

#white {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem !important;

  h3 {
    color: #000000;
    font-weight: bold;
    font-style: italic;
  }
}

ol,
ul {
  padding: 0;
  margin: 0;
}

aside {
  display: none; // Oculta el aside por defecto
  width: 100%;
  background-color: #fea100;
  padding: 1rem;
  color: #000000;

  img {
    width: 100%;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}

pre {
  width: 100%;
  text-align: left;
  background-color: #000000;
  border-radius: 10px;
  color: yellow;
  padding: 1rem;
  font-size: 1.25rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

code {
  background-color: #000000;
  white-space: pre-wrap;
  display: block;
  color: greenyellow !important;
  padding: 1.5rem !important;
  font-family: "Roboto", serif !important;
  font-weight: 400;
  font-style: normal;
}

// Aplicación de los breakpoints usando mixins
@include respond-to(sm) {
  // Estilos para pantallas pequeñas
  main {
    font-size: 1.2rem;
  }
}

@include respond-to(md) {
  // Estilos para pantallas medianas
  main {
    font-size: 1.5rem;
  }
}

@include respond-to(lg) {
  // Estilos para pantallas grandes (lg)
  main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;

    section {
      width: 75%; // Ajusta el ancho de la sección principal
    }

    aside {
      display: flex; // Muestra el aside
      width: 25%; // Ancho del aside
    }
  }
}

@include respond-to(xl) {
  // Estilos para pantallas extra grandes (igual que lg)
  main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;

    section {
      width: 75%; // Ajusta el ancho de la sección principal
      p {
        font-size: 2rem;
        line-height: 1.6;
        color: black;
      }
    }

    aside {
      display: flex; // Muestra el aside
      width: 25%; // Ancho del aside
    }
  }
}
