// main.scss
@import 'utils/variables';
@import 'utils/mixins';
@import 'base/reset';
@import 'base/typography';
//@import 'components/buttons';
//@import 'components/cards';
@import 'layouts/header';
@import 'layouts/footer';
//@import 'pages/home';
//@import 'pages/about';
@import 'layouts/cubo';

// Estilos generales

/* Reset básico de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    width: 100%;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); // sombra suave
}

h2 {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 2s ease;
    /* La transición que cambia el fondo */
}

h2:hover {
    background-color: red;
    color: white;
    /* Cambia de color al hacer hover */
}

nav {
    width: 100% !important;
}
.navbar{
    background-color: #000000;
}
li {
    a {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    a:hover {
        background-color: red;
    }
}

// Main content
main {
    flex-wrap: wrap;
    flex-direction: column;

    section {
        width: 100%;
        background-color: white;
        padding: 1rem;

        article {
            border-radius: 4px;
        }
    }
}

article {
    border-radius: 4px;

    h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 1rem;
        margin-bottom: 1rem;
        line-height: 1.6;
    }
}

li {
    list-style: none;
}

ol,
ul {
    padding: 0;
    margin: 0;
}

aside {
    width: 100%;
    background-color: $secondary-color;
    padding: 1rem;
    color: #000000;
    @extend .shadow; // Se reutiliza la clase .shadow

    h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 0.5rem;
            list-style: none;

            a {
                color: white;
                text-decoration: none;
                text-align: center;
            }
        }
    }
}

pre {
    width: 100% !important;
    background-color: #000000 !important;
    border-radius: 5px;
    color: yellow;
}

code {
    background-color: #000000 !important;
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    /* Permite que las líneas largas se ajusten */
    display: block;
    color: greenyellow !important;
    padding: 1rem;
}

.social-links img {
    width: 20px;
}

// Mixin para media queries
@media (min-width: 768px) {

    //nav
    #barra-nav {
        display: none;
    }

    #desktop-nav {
        display: block;
    }

    .nav {
        height: 3rem;
        display: flex;
        align-items: center;
        align-content: center;
    }

    .nav-item {
        font-weight: 600;
        font-size: 1.2rem;
    }

    .nav-item:hover {
        font-size: 1.3rem;
    }

    //main
    main {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        margin: 0 auto;

        section {
            width: 70%;
        }

        aside {
            width: 30%;
        }
    }

    pre {
        background-color: #000000;
        padding: 10px;
        border-radius: 5px;
        overflow-x: auto;
        color: #ffffff;
    }

    code {
        background-color: #000000;
        font-family: "Courier New", Courier, monospace;
        white-space: pre-wrap;
        /* Permite que las líneas largas se ajusten */
        display: block;
        color: greenyellow;
        padding: 1rem;
    }

}

@media (min-width: 1024px) {

    main {
        flex-direction: row-reverse;
    }

    section {
        width: 70%;
    }

    aside {
        width: 30%;
    }

    pre {
        background-color: #000000;
        padding: 1rem;
        border-radius: 5px;
        color: #ffffff;
        font-size: 1rem;
    }

    code {
        background-color: #000000;
        font-family: "Courier New", Courier, monospace;
        font-size: 1rem;
        white-space: pre-wrap;
        /* Permite que las líneas largas se ajusten */
        display: block;
        color: greenyellow;
    }
}