
li{
    list-style: none;
}
.nav-desktop {
    background-color: #000000 !important;
}
// Estilos para pantallas pequeñas
@include respond-to(md) {
    nav {
        display: none !important;
        flex-direction: row-reverse;
    }
}
// Estilos para pantallas medianas
@include respond-to(lg) {
    nav {
        display: none !important;
        flex-direction: row-reverse;   
    }
}
.navbar{
    background-color: #000000 !important;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar a {
    font-size: 1rem !important;
    color:white;
}

.nav-desktop{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        display: flex;
        li{
            padding: 0px 1.5rem;
            a{
                font-size: 25px !important;
            }            
        }
        li:hover {
            background-color: red;
            
            border-radius: 6px;

            scale: 1.2;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra al hacer hover */
        }
    }
}

@include respond-to(sm) {
    .nav-desktop {
        display: none !important;
    }
}
