.nav-burger {
  display: flex;
    align-items: center;
  justify-content: center;
  height: 50px !important;
  font-size: 1.5rem !important;
  background-color: #000000 !important;

}

li {
  list-style: none;
}

.nav-desktop {
  display: none;
  background-color: #000000;
  height: 50px !important;

  color: white;
  font-size: 1.5rem !important;
}

.nav-desktop ul {
    display: flex;
}
// Estilos para pantallas medianas
@include respond-to(md) {
  .nav-desktop {
    display: flex;
  }
  .nav-desktop ul {
    display: flex;
    
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
  }
  .nav-desktop li {
    padding: 1rem 1rem !important;
  }

  .nav-burger {
    display: none;
  }
}
// Estilos para pantallas medianas
@include respond-to(lg) {
  .nav-burger {
    display: none;
  }
  .nav-desktop {
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    ul {
      display: flex;
      flex-direction: row;
      li {
        padding: 0px 1.5rem;
        a {
          font-size: 1.5rem;
          color: white;
        }
      }
      li:hover {
        background-color: red;
        scale: 1.2;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra al hacer hover */
      }
    }
  }
}
